.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .gallery-img {
	width: 300px;
	margin: 20px;
	border: 1px solid #ccc;
	cursor: pointer;
  }
  
  .gallery-img:hover {
	border-color: #aaa;
  }
  
  